# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store
.vscode
.npmrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.pem

# typescript
*.tsbuildinfo


# IDE's
.idea/

dist
.env*
!.env.*.example*